In [1]:
import pandas as pd
import numpy as np
frame =  pd.DataFrame.from_csv('PE-TRG-Jan-Mar-2017.csv').reset_index()

In [2]:
#get rows count by PLU
frame.groupby('PLU')[['PLU']].size().rename('counts').reset_index().sort_values(['counts'], ascending=[False])

         PLU  counts
458     2548   40667
425     2477   40607
427     2480   40551
499     2637   40435
460     2551   40424
247     2213   40360
210     2164   40255
309     2317   39803
323     2354   39323
322     2353   39302
267     2236   39243
468     2569   39105
640     3194   39048
300     2307   39029
255     2223   38956
244     2210   38845
462     2555   38737
301     2308   38658
467     2566   38603
455     2538   38470
303     2311   38317
456     2541   38061
232     2198   37961
475     2580   37403
534     2830   37222
431     2489   37186
637     3180   37133
480     2591   37107
270     2239   37097
446     2509   36850
...      ...     ...
4704  428588       1
4705  428589       1
1342  232292       1
731     3626       1
1338  232274       1
4723  428642       1
1333  231991       1
1330  231969       1
4748  428762       1
1327  231945       1
1319  231879       1
4689  428493       1
1348  237422       1
4663  428376       1
4594  428096       1
4561  428044       1
3450  397623       1
4574  428064       1
1458  249613       1
1457  249611       1
1456  249609       1
4610  428151       1
1421  245031       1
4614  428157       1
4618  428167       1
4626  428179       1
1429  246330       1
4658  428334       1
4660  428340       1
1475  249635       1

[5652 rows x 2 columns]

In [ ]:
#get specific products
products = ['2548','2477','2480','2551','2637']
sales = frame[frame['PLU'].isin(products)]
sales

In [ ]:
sales.to_csv('sales-jan-mar-2017.csv')

In [ ]:
#get products info
sales.drop_duplicates(['RecipeName','PLU']).reset_index()[['RecipeName','PLU']].to_csv('products.csv')

In [ ]:
#get locations
sales.drop_duplicates(['Locationid']).reset_index()[['Locationid']].to_csv('locations.csv')