In [1]:
import pandas as pd
import numpy as np

In [2]:
# PE_cities.csv
# TRG_cities.csv
# TRG_location_287.csv - biggest file
df = pd.read_csv('../data/processed/TRG_location_287.csv', sep=';')
# remove zero qty because they are not changing quantity in stock
df = df[df.Quantity>0]
# remove negative and zero prices
#df = df[df.SalesPriceNet > 0]))
#print('SalesPrice<0:', len(df[df.SalesPrice < 0]))
#print('TotalSalesNet<0:', len(df[df.TotalSalesNet < 0]))
#print('TotalSales<0:', len(df[df.TotalSales < 0]))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171218 entries, 0 to 174258
Data columns (total 24 columns):
LocationID          171218 non-null int64
LocationName        171218 non-null object
RecipeName          171218 non-null object
PLU                 171218 non-null int64
SalesDate           171218 non-null object
Quantity            171218 non-null float64
SalesPriceNet       171218 non-null float64
SalesPrice          171218 non-null float64
TotalSalesNet       171218 non-null float64
TotalSales          171218 non-null float64
City1               0 non-null float64
Country1            171218 non-null object
Address1            171218 non-null object
Address1PostCode    171218 non-null object
City2               0 non-null float64
Country2            0 non-null float64
Address2            0 non-null float64
Address2PostCode    0 non-null float64
dt_year             171218 non-null int64
dt_month            171218 non-null int64
dt_day              171218 non-null int64
dt_day_of_year      171218 non-null int64
dt_day_of_week      171218 non-null int64
dt_hour             171218 non-null int64
dtypes: float64(10), int64(8), object(6)
memory usage: 32.7+ MB

In [4]:
print('rows:', len(df))
print('SalesPriceNet<0:', len(df[df.SalesPriceNet > 0]))
print('SalesPrice<0:', len(df[df.SalesPrice > 0]))
print('TotalSalesNet<0:', len(df[df.TotalSalesNet > 0]))
print('TotalSales<0:', len(df[df.TotalSales > 0]))

rows: 171218
SalesPriceNet<0: 140866
SalesPrice<0: 140861
TotalSalesNet<0: 140866
TotalSales<0: 140861

In [8]:
df.head(20)

,LocationID,LocationName,RecipeName,PLU,SalesDate,Quantity,SalesPriceNet,SalesPrice,TotalSalesNet,TotalSales,...,City2,Country2,Address2,Address2PostCode,dt_year,dt_month,dt_day,dt_day_of_year,dt_day_of_week,dt_hour
0,287,F and B Sheffield Meadowhall 5182,F&BSO - House Fries (June14),135585,2017-04-18 00:00:00.000,31.0,2.843729,3.412581,88.1556,105.79,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
1,287,F and B Sheffield Meadowhall 5182,F&BCD - Brownie Sundae (June14),155759,2017-04-18 00:00:00.000,17.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
2,287,F and B Sheffield Meadowhall 5182,F&BCD - Ice Cream Sundae - Chocolate (J,155764,2017-04-18 00:00:00.000,17.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
3,287,F and B Sheffield Meadowhall 5182,F&BCD - Ice Cream Sundae - Strawberry (J,155763,2017-04-18 00:00:00.000,11.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
4,287,F and B Sheffield Meadowhall 5182,F&BCD - Ice Cream Sundae - Vanilla (June,62137,2017-04-18 00:00:00.000,26.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
5,287,F and B Sheffield Meadowhall 5182,F&BCJ - inclusion Mash (June14),152615,2017-04-18 00:00:00.000,3.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
6,287,F and B Sheffield Meadowhall 5182,F&BCJ - inclusion Fries (June14),152613,2017-04-18 00:00:00.000,46.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
7,287,F and B Sheffield Meadowhall 5182,F&BCJ - Margarita Pizza (June14),152586,2017-04-18 00:00:00.000,4.0,5.762375,6.915000,23.0495,27.66,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
8,287,F and B Sheffield Meadowhall 5182,F&BCJ - Pizza Topping Inclusion - Bacon,152587,2017-04-18 00:00:00.000,2.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
10,287,F and B Sheffield Meadowhall 5182,F&BCJ - Pizza Topping Inclusion - Chicke,152589,2017-04-18 00:00:00.000,2.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
11,287,F and B Sheffield Meadowhall 5182,F&BCJ - Pizza Topping Inclusion - Ham (J,152591,2017-04-18 00:00:00.000,2.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
12,287,F and B Sheffield Meadowhall 5182,F&BCJ - Pizza Topping Inclusion - Pepper,152593,2017-04-18 00:00:00.000,2.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
14,287,F and B Sheffield Meadowhall 5182,F&BCJ - Pizza Topping Inclusion - Tomato,152596,2017-04-18 00:00:00.000,1.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
15,287,F and B Sheffield Meadowhall 5182,F&BCK - Free Side of Salad (June14),152568,2017-04-18 00:00:00.000,10.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
16,287,F and B Sheffield Meadowhall 5182,F&BCK - Free Side of Vegetables (June14,152569,2017-04-18 00:00:00.000,14.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
17,287,F and B Sheffield Meadowhall 5182,F&BCK - Baby Chicken Casserole (June14),284940,2017-04-18 00:00:00.000,1.0,1.624700,1.950000,1.6247,1.95,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
18,287,F and B Sheffield Meadowhall 5182,F&BCK - Fish Fingers (Feb 15),152578,2017-04-18 00:00:00.000,7.0,3.424900,4.110000,23.9743,28.77,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
19,287,F and B Sheffield Meadowhall 5182,F&BCK - Fruit Salad (Nov 15),304687,2017-04-18 00:00:00.000,5.0,0.574960,0.690000,2.8748,3.45,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
20,287,F and B Sheffield Meadowhall 5182,F&BD - Inclusion One Scoop Ice Cream -,104028,2017-04-18 00:00:00.000,4.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0
21,287,F and B Sheffield Meadowhall 5182,F&BD - Inclusion One Scoop Ice Cream -,104032,2017-04-18 00:00:00.000,2.0,0.000000,0.000000,0.0000,0.00,...,NaN,NaN,NaN,NaN,2017,4,18,108,1,0